table {
  padding-left:0.75em;
}

div.pagination {
  padding-left:0.5em;
}

h3 {
  padding-left:0.5em;
}

#search {
  margin-bottom:1.5em;
}

#newLink {
  margin-left:0.5em;
}

thead tr {
  text-align:left;
}

table td, th {
  padding-right:0.7em;
}
