<h1>Welcome</h1>
<p>Welcome to this Rails app. There are many like it, but this one is mine.</p>
<div id="timeDiv">
  <p>It's currently</p>
  <p id="t"><%= current_date_and_time %><p>
  <p>where this sever is located</p>
</div>
